/*Etiquetas Generales*/
body{
    margin:0;
    font-family: 'Comfortaa', cursive;
}


/*inicio*/
#main{
    width: 100%;
    background-image: url("./img/opcion-fondo2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

#introduccion{
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#introduccion #foto{
    width: 100px;
    height: 100px;
}

#introduccion #texto{
    text-align:justify;
    color: black;
    line-height: 3vh;
}

/*Menú*/

#menu{
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;

}

#menu #enlaces {
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu #enlaces a{
    text-align: center;
    padding: 1.5vh;
    color: white;
    text-decoration: none;
}

#menu #enlaces a:hover{
    background-color: white;
    color: black;
    text-decoration: underline;
}

/*Cuerpo*/
#cuerpo{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    padding: 15px;
    background-color: white;
    
}
/*Acerca de Mí*/
#p1{
    display: flex;
    align-content: center;
    justify-content: center; 
}
#acerca-de-mi{
    width: 80%;
    
}

#acerca-de-mi h2{
    color:#2874A6;
    padding: 15px;
}

#acerca-de-mi #parrafos-acerca{
    display: grid;
    grid-template-columns: 50% 50%;
    
}

#acerca-de-mi #parrafos-acerca p{
    line-height: 1.5;
    text-align: justify;
    margin-right: 10px;
}

#acerca-de-mi #parrafos-acerca ul li{
    line-height: 1.5;
}

/*Contacto*/
#p2{
    display: flex;
    align-content: center;
    justify-content: center; 
}

#contacto{
    width: 80%;
}

#contacto form{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    padding: 15px;
    grid-gap: 1em;
}

#contacto form input{
    border-style: none;
    border-bottom: 2px black solid;
    resize: none;
}

#contacto form #div-textarea{
    grid-column: 1/3;
}

#contacto form #div-input1 {
    width: 100%;
}

#contacto form #div-input2 {
    width: 100%;
}

#contacto form input {
    font-family: 'Comfortaa', cursive;
    padding: 10px;
    border-style: none;
    border-bottom: 2px  #CACCCD solid;
    resize: none;
}

#contacto form input:hover{
    border-style: none;
    border-bottom: 2px black solid;
    resize: none;
}

#contacto form textarea{
    width: 94%;
    font-family: 'Comfortaa', cursive;
    padding: 10px;
    border-style: none;
    border-bottom: 2px  #CACCCD solid;
    resize: none;
}

#contacto form textarea:hover{
    border-style: none;
    border-bottom: 2px black solid;
    resize: none;
}

#contacto form button{
    font-family: 'Comfortaa', cursive;
    grid-column: 1/3;
}

#contacto h2{
    color:#2874A6;
    padding: 15px;
}

/*Responsive*/
@media (max-width: 1000px) {
    #imagen-fondo{
        width: 100%;
        position: static;
        background-image: url("./img/opcion-fondo2.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    #acerca-de-mi #parrafos-acerca{
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    #contacto form{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 15px;
        grid-gap: 1em;
    }

    #contacto form textarea{
        
        font-family: 'Comfortaa', cursive;
        padding: 10px;
        border-style: none;
        border-bottom: 2px  #CACCCD solid;
        resize: none;
    }
  }