/*Etiquetas Generales*/
body{
    margin:0;
    font-family: 'Comfortaa', cursive;
}

#main{
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*inicio*/
#imagen-fondo{
    width: 100%;
    height: 95vh;
    position: static;
    background-image: url("./img/opcion-fondo2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

#introduccion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#introduccion #foto{
    width: 100px;
    height: 100px;
}

#introduccion #texto{
    text-align:justify;
    color: black;
    line-height: 3vh;
    width: 50%;
    
}

/*Menú*/

#menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

#menu #enlaces {
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu #enlaces a{
    text-align: center;
    padding: 1.5vh;
    color: white;
    text-decoration: none;
}

#menu #enlaces a:hover{
    background-color: white;
    color: black;
    text-decoration: underline;
}

/*Cuerpo*/
#cuerpo{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 80%;
}
/*Acerca de Mí*/
#acerca-de-mi{
    width: 100%;
}

#acerca-de-mi h2{
    color:#2874A6;
    padding: 15px;
}

#acerca-de-mi #parrafos-acerca{
    display: grid;
    grid-template-columns: 50% 50%;
    
}

#acerca-de-mi #parrafos-acerca p{
    line-height: 1.5;
    text-align: justify;
    margin-right: 10px;
}

#acerca-de-mi #parrafos-acerca ul li{
    line-height: 1.5;
}

@media (max-width: 1000px) {
    #acerca-de-mi #parrafos-acerca{
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
  }