/*ID´s*/
#main { 
    min-height: 100vh;
    font-family: 'Comfortaa', cursive;
    display: grid;
    grid-template-rows:   95vh 5vh;;
    grid-template-areas:"section  section"
                        "nav nav";
}

/*Etiquetas Generales*/
body{
    margin: 0;
    height: 0;
    background-image: url("./img/opcion-fondo2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*Menú*/

nav{
    grid-area: nav;
    background-color: black;
    opacity:0.8;
    color: white;

    display: flex;
    justify-content:space-between;
}

nav #imagen{
    width: 15px;
    height: 15px;
    padding-left: 15px;
}

nav #enlaces{
    display: flex;
    justify-content: center;
    align-items:center;
    border-right: 1px white solid;

}

nav a{
    text-align: center;
    padding: 1.5vh;
    color: white;
    text-decoration: none;
}

nav a:hover{
    background-color: white;
    color: black;
    text-decoration: underline;
}
/*Section*/
section{
    grid-area: section;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    text-align: center;
}

section div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 80%;
    padding: 25px;
    background-color: white; 
}

section #foto{
    width: 100px;
    height: 100px;
}

section #introduccion{
    text-align:justify;
    color: black;
    line-height: 3vh;
}

/**
footer{
    grid-area: footer;

    border: 2px solid black;
    color: white;
    text-align: center;
}*/









